.board{
    width:25%;
    display:inline;
    padding: 10px;
    position:absolute;
}

.board > .container {
    width: 300px !important;
    background: #ccc !important;
    height: 140px;
}

.task{
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.task-input{
    background-color: #ccc !important;
    color: #fff;
    font-weight: bold;
    border: none;
    font-size: 20px;
}